// Override this file to add your own SCSS styling.
// Used in layout
$padding-1: 1px !default;
$padding-2: 0.125rem !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;
$font-size-base: 1rem !default;
$font-size-12: 0.75rem !default;
$font-size-14: 0.875rem !default;
$font-size-16: 1rem !default;
$border-radius: 0.15rem !default;
// Grayscale 
$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$color-link: #2A4B7C !default;
$color-visited-link: #2A4B7C !default;
$color-hover: #da532c !default;
$body-background: #F5F5F5 !default;
$body-font-color: #202020 !default;
$body-font-weight: normal !default;
$body-min-width: 35rem !default;
$container-max-width: 90rem !default;
$header-height: 3.5rem !default;
$menu-width: 30rem !default;
$toc-width: 30rem !default;
$md-breakpoint: $menu-width+$body-min-width * 1.25+$toc-width !default;
$sm-breakpoint: $menu-width+$body-min-width !default;
// Panel colors
$hint-colors: ( info: #2A4B7C, warning: #FF6600, danger: #b41b06, success: green, ) !default;
.flex {
    display: flex;
}

.flex-auto {
    flex: 1 1 auto;
}

.flex-even {
    flex: 1 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.mx-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

@mixin spin($duration) {
    animation: spin $duration ease infinite;
    @keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.markdown-inner {
    // Util class to remove extra margin in nested markdown content
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

// {{< expand "Label" "icon" >}}
.book-expand {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    .book-expand-head {
        background-color: #f8f9fa;
        color: rgba(0, 0, 0, 0.60);
        padding: 0.5rem 1rem;
        font-weight: bold;
        cursor: pointer;
        border: 0.125rem solid #fc6f5c;
        &:hover {
            background-color: rgba(255, 56, 96, 0.15);
            color: rgba(0, 0, 0, 0.70);
        }
    }
    .book-expand-content {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        display: none;
    }
    input[type="checkbox"]:checked .book-expand-content {
        display: block;
    }
}

// {{< tabs >}}
.book-tabs {
    margin-top: $padding-16;
    margin-bottom: $padding-16;
    border: $padding-2 solid $gray-400;
    border-radius: $border-radius;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    label {
        display: inline-block;
        padding: $padding-8 $padding-16;
        // border-bottom: $padding-1 transparent;
        cursor: pointer;
        background-color: $gray-200;
        border: $padding-2 solid $gray-400;
        //border-bottom: $padding-2 solid red;
        //border-right: $padding-4 solid white;
        color: rgba(0, 0, 0, 0.8);
        // border-bottom: $padding-4 solid #003366;
        &:hover {
            color: rgba(0, 0, 0, 0.9);
            background-color: $gray-300;
            font-weight: 600;
            border-bottom: $padding-4 solid $sta-link-hover;
        }
    }
    .book-tabs-content {
        order: 999; //Move content blocks to the end
        width: 100%;
        padding: $padding-8;
        display: none;
    }
    input[type="radio"]:checked+label {
        border-bottom: $padding-4 solid #FF6600;
        //  color: $gray-200;
        // background-color: #2A4B7C;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.9);
        background-color: $gray-300;
    }
    input[type="radio"]:checked+label+.book-tabs-content {
        display: block;
    }
}

// {{< columns >}}
.book-columns {
    margin-left: -$padding-16;
    margin-right: -$padding-16;
    >div {
        margin: $padding-16 0;
        // max-width: 50%;
        min-width: $body-min-width * 0.66;
        padding: 0 $padding-16;
    }
}

// {{< button >}}
a.book-btn-downloads {
    display: inline-block;
    color: #f5f5f5;
    text-decoration: none !important;
    border: $padding-2 solid $color-link;
    border-radius: $border-radius;
    padding: 15px;
    margin-top: $padding-8;
    margin-bottom: $padding-8;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 10px 10px 5px grey;
    &:hover {
        color: white !important;
        background-color: gray;
    }
}

// {{< button downloads >}}
a.book-btn {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid;
    overflow: hidden;
    
    & span {
        z-index: 20;
    }
    &:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -75px;
        opacity: .2;
        position: absolute;
        top: -50px;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 50px;
        z-index: -10;
    }
    &:hover:after {
        left: 120%;
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
}

// {{< hint >}}
.book-hint {
    @each $name,
    $color in $hint-colors {
        &.#{$name} {
            border-left: $padding-8 solid $color;
            background-color: rgba($color, 0.15);
            color: rgba(0, 0, 0, 0.85);
            font-weight: bold;
            padding-top: $padding-16;
            padding-bottom: $padding-16;
            margin-top: $padding-16;
            margin-bottom: $padding-16;
            // background-color: $gray-100;
        }
    }
    ;
}

// Webkit
::-webkit-scrollbar {
    width: $padding-8;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: $padding-8;
}

:hover::-webkit-scrollbar-thumb {
    background: $gray-500;
}

// MS
body {
    -ms-overflow-style: -ms-autohiding-scrollbar
}

// Future
.book-menu nav {
    scrollbar-color: transparent $gray-500;
}

// Table
table {
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: $padding-8;
    tr th,
    tr td {
        padding: $padding-8 $padding-8;
        border: $padding-1 solid $gray-500;
    }
    th {
        background: #2A4B7C;
        color: $gray-200;
        text-align: center;
    }
    tr:nth-child(2n) {
        background: $gray-300;
    }
}

hr {
    height: $padding-1;
    border: none;
    background: $gray-200;
}

ul,
ol {
    padding-left: $padding-16;
}

dl {
    dt {
        font-weight: bolder;
        margin-top: $padding-4;
    }
    dd {
        margin-left: $padding-16;
    }
}

// Special case for highlighted code with line numbers
.highlight table tr {
    td:nth-child(1) pre {
        margin: 0;
        padding-right: 0;
    }
    td:nth-child(2) pre {
        margin: 0;
        padding-left: 0;
    }
}

// icon download in articles
.fa-file-pdf {
    font-size: 30px;
    color: orangered;
    cursor: pointer;
    box-shadow: 4px 4px 1.5px grey;
}

#files:hover {
    color: red;
    box-shadow: 4.5px 4.5px 2px grey;
    text-decoration: none;
    transition: color 0.4s ease;
}

#download_files {
    color: #2A4B7C;
    cursor: pointer;
    line-height: 1.4;
    font-size: 1.1em;
    font-weight: 600;
}

#download_files:hover {
    color: #2A4B7C;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.4s ease;
}

#download_excel {
    color: #2A4B7C;
    cursor: pointer;
    line-height: 1.4;
    font-size: 1.1em;
    font-weight: 600;
    /* background-color: #d0d0d0; */
    &:hover {
        color: red;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.4s ease;
    }
}

.fa-file-excel {
    font-size: 30px;
    color: green;
    &:hover {
        color: red;
        transition: color 0.4s ease;
    }
}

#download_files_new {
    color: white;
    padding: 14px 28px;
    margin-right: $padding-8;
    font-size: 1em;
    box-shadow: 5px 5px 2px grey;
    background: $sta-primary;
    border-radius: 10px;
    margin-bottom: $padding-8;
    &:hover {
        color: $sta-primary;
        background: white;
        text-decoration: none;
        border: $padding-2 solid $sta-primary;
        border-radius: 10px;
        cursor: pointer;
        transition: color 0.4s ease;
        box-shadow: 5px 5px 2px grey;
    }
}


/* Style the buttons that are used to open and close the accordion panel */


/* 
$midnight: #2c3e50;
$clouds: #ecf0f1;
*/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

a.btn-downloads-dangers {
    border: 2px solid$sta-primary;
    background-color: white;
    color: $sta-primary;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
    margin-left:20px ;
    &:hover {
        background: $sta-primary;
        font-weight: bold;
        color: white;
        text-decoration: none;
        transition: color 0.4s ease;
        box-shadow: 5px 5px 2px grey;
    }
}

.page-item .item-prev,
.page-item .item-prev a {
    float: right;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-item .item-prev,
.page-item .item-prev a {
    float: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* -------------------------------- 


-------------------------------- */



#myBtn {
     
     display: none;
     position: fixed;
     bottom: 25px;
     right: 25px;
     z-index: 99;
     font-size: 30px;
     font-weight: 800;
     border: none;
     outline: none;
     background-color: #c5c5c5;    
     color: orangered;
     cursor: pointer;
     
     border-radius: 4px;
     
   
}


#myBtn:hover {
    background-color: #aaa;
    color: orangered;
    
}

.docs-heading h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 30px;
    &::before {
        content: '';
        position: absolute;
        z-index: 99;
        background-color: $sta-primary;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        left: -17px;
        top: 15px;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 99;
        background-color: $sta-primary;
        width: 6px;
        height: 6px;
        border-radius: 100%;
        right: -17px;
        top: 15px;
    }
}

.docs-heading p {
    text-transform: uppercase;
}

.docs-title {
    font-size: 1.75rem;
    color: #202020;
  }
  
  .docs-title a {
    color: #202020;
    
    font-weight: 600;
  }

h3.docs-title>a {
    font-size:1em;
    
    font-weight: 600;
    color: #202020;
 
 }
 
 h3.docs-title a:hover {
     color:$sta-primary;
     text-decoration: none;
     
     transition: color 0.4s ease;
 }

 .sub-menu,
 #docs-nav {
     display: none;
 }

 #TableOfContents>li>a {
     color:red;

     line-height: 2em;
 }
