/*************************************************
 *  academia's Core
 **************************************************/

html {
    font-family: $sta-font-body, sans-serif;
    font-size: #{$sta-font-size-small}px;
    color: #202020;
    line-height: 1.5;
    scroll-behavior: smooth;
}

@media screen and (min-width: 58em) {
    html {
        font-size: #{$sta-font-size}px;
    }
}

body {
    font-family: inherit;
    font-size: 1em;
    line-height: inherit;
    color: inherit;
    background-color: $sta-background;
    
    /* Offset body content by navbar height. */
    padding-top: 0;
    counter-reset: captions;
    line-height: 1.5;
  letter-spacing: 0.04ch;
}

@media screen and (max-width: 1200px) {
    /* Match max-width of .nav-bar query. */
    body {
        margin-top: 20px;
        /* Offset body content by navbar height. */
    }
}

.max-width-640 {
    max-width: 640px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}


/* Body text */

p {
    margin-top: 0;
   
   
}


/* Lists */

ul,
ol,
dl {
    margin-top: 0;
    margin-bottom: .7rem;
}


/* Navigation bar text */

.navbar-light {
    font-family: $sta-font-nav, sans-serif;
    font-weight: 400;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sta-font-heading, sans-serif;
    font-weight: bold;
    margin-top: .5rem;
    margin-bottom: 1rem;
    color: #2A4B7C;
    text-rendering: optimizeLegibility;
    /* Ensure long words do not overflow into content. */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    /* Add a hyphen where the word breaks (use `&shy;` to insert a soft-hyphen in a word). */
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;

}

h1 {

    font-size: 2rem;
    font-weight: 600;

}

h2 {
    margin-top: 1rem;
    font-size: 1.75rem;
    font-weight: 500;
}

h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

h4,
h5,
h6 {
    margin-top: 1rem;
    font-size: 1rem;
}

h3.article-title a {
   font-size: 1.1rem;
   font-weight: 600;


}

h3.article-title a:hover {
    color:#202020;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.4s ease;
    font-weight: bold;
}

a:hover,
a:focus {
    color:#202020;
    text-decoration: none;
     cursor: pointer;
     transition: color 0.4s ease;
     font-weight: bold;
}

img,
video {


   max-width: 90%;
   height: auto;
   align-items: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 1rem;
   margin-bottom: 1.5rem;

}



video {
    max-width: 90%;
    height: auto;

}

.img-fluid {
    width: 95%;
    height: auto;
    display: block;
    margin: 0 ;
}

.img-responsive {
    /* Extend Bootstrap declaration with centering. */
    margin: 0 auto;
}

figcaption {
    display: block;
    margin-top: 0.75em;
    line-height: 1.5;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: $sta-font-heading, sans-serif;
}

figcaption.numbered:before {
    font-weight: 700;
    text-transform: uppercase;
    content: attr(data-pre) counter(captions) attr(data-post);
}

figcaption.numbered {
    counter-increment: captions;
}

figcaption h4 {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

em {
    background-color: rgba(255, 255, 0,.7);
    font-weight: 600;
    line-height: 1.3;
    margin: 10px auto;
    padding: 5px 5px;
}

.dask>em {
    background-color: #2A4B7C;
    font-weight: bold;
}

pre,
code {
    font-family: $sta-font-mono, monospace;
    background-color: #f9f2f4;
}

pre {
    margin: 0 0 1rem 0;
    background-color: rgb(248, 248, 248);
    /* Match default highlight theme. */
    border: 2px solid $gray-600;
    font-size: 0.9rem;
    border-radius: 4px;
}

pre code {
    margin: 10 auto;
    // background-color: #959595;
    white-space: pre;
    /* Override Bootstrap to preserve line breaks in code. */
    overflow-x: auto;
    // border-color: #656565;
    border-radius: 4px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}


/* Quotes */

blockquote {


    border-left: .5rem solid #2A4B7C;
    background: rgba(2, 95, 189, 0.15);

      padding-top: 1rem;
      padding-bottom: 1rem;
        margin-top: 1rem;
            margin-bottom: 1rem;
}

blockquote p:last-child {
    margin-bottom: 0;
}

@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

.markup-quote {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(233, 231, 245, 1), rgba(233, 231, 245, 1));
}

.space-below {
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .space-below {
        margin-bottom: 10px;
    }
}

.universal-wrapper {
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.1rem;
    max-width: 95%;
}

@media only screen and (min-width: 1001px) {
    .universal-wrapper {
        max-width: 95%;
    }
}

small,
.small {
    font-size: .75em;
}

.responsive-wrap iframe {
    max-width: 95%;

}


/*************************************************
 *  Modals.
 **************************************************/

.modal-content {
    background: $sta-background;
}

.modal-title {
    margin: 0;
    /* Override default h5 margin. */
}

.modal-content pre {
    margin: 0;
}

.modal-header {
    border: 0;
    color: rgba(0, 0, 0, 0.8);
}

.modal-footer {
    border: 0;
}

#modal-error {
    color: red;
}


/*************************************************
 *  Gallery.
 **************************************************/

.gallery {
    margin: 0.5em -4px 1.5em -4px;
    font-size: 0;
}

a[data-fancybox] {
    text-decoration: none;
    cursor: zoom-in;
}

.gallery a[data-fancybox] img {
    height: 250px;
    max-width: 90%;
    display: inherit;
    margin: 0;
    padding: 4px;
    box-shadow: none;
    vertical-align: inherit;
}

.fancybox-caption {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
}


/*************************************************
 *  Pager.
 **************************************************/

.post-nav {
    font-size: .9rem;
    display: inline;
}

.post-nav-item {
    hyphens: auto;
    word-wrap: break-word;
    width: 45%;
    padding: 20px auto;
    float: left;
    text-align: left;
    background: rgba(0, 0, 0, .05);
    border-color: rgb(200, 200, 200);
    border-radius: 4px;
}

.post-nav-item a {
    color: $sta-primary;
    line-height: 1.7;
    text-transform: none;
}

.post-nav-item .meta-nav {
    color: #2A4B7C;
    font-weight: 700;
    line-height: 2;
    text-transform: uppercase;
}

.box {
    width: 50%;
    padding: 10px;
    float: left;
}

.post-nav-item .meta-prev,
.post-nav-item .meta-prev a {
    float: left;
    text-align: left;
}

.meta-prev::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 130%;
    font-weight: 700;
    padding: 5px 5px;
    margin-bottom: 8px;
    content: '\f100';
}

.post-nav-item .meta-next,
.post-nav-item .meta-next a {
    float: right;
    text-align: right;
}


.meta-prev a:hover,
.meta-next a:hover {
    color:#202020;
    text-decoration: false;
    cursor: pointer;
    transition: color 0.4s ease;
    font-weight: bold;
}

.dark .post-nav-item a {
    color: #ddd;
}


/*************************************************
 *  Footer
 **************************************************/

footer {
    padding: 2rem 0;
    width: 100%;
}

footer p {
    font-size: 0.75rem;
}

site-footer,
footer a #back_to_top i {
    color: rgba(0, 0, 0, 0.54);
}

.dark site-footer,
.dark footer a #back_to_top i,
.dark .docs .body-footer {
    color: rgba(255, 255, 255, 0.54);
}


/**************************************************
 *  Tags/Labels
 **************************************************/

.badge {
   
    align-self: flex-start;
   
    
    
    
}

.badge-success {
    padding: .35em .75em;
    
    background: $sta-primary;
    border: 2.5px solid rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    font-size: .65rem;
}

.badge-warning {
    padding: .35em .75em;
    
    background: $sta-primary;
    border: 2.5px solid rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    font-size: .65rem;
}


.badge-light {
    border: 2.5px solid rgba(0, 0, 0, 0.54);
    /*  color: rgba(0,0,0,.68);  */
    background: orangered;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    transition: .3s;
    color: #e5e5e5;
    line-height: 1.25;
    box-shadow: 3px 3px 2px grey;
}

.badge-danger {
    padding: 5px;
    background: orangered;
}

.badge-success {
    padding: 5px;
    background: green;
}

.article-tags>.badge-light:last-child {
    margin-right: 0;
}

.badge-light[href]:focus,
.badge-light[href]:hover {



}

span.last_updated,
span.minute_read,
span.article-categories {
    line-height: 1.25;
    font-size: 1.1em;
}

a.badge {
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: $border-radius;
}


.badge-light:hover {

    text-decoration: none;

    border-radius: $border-radius;
    cursor: pointer;
    transition: color 0.4s ease;
}

.tag-cloud a {
    display: inline-block;
    position: relative;
    margin: 10px 10px;
    word-wrap: break-word;
    transition-duration: .2s;
    transition-property: transform;
    transition-timing-function: ease-out;
}



.dark .tag-cloud a:active,
.dark .tag-cloud a:focus,
.dark .tag-cloud a:hover {

}


/*************************************************
 *  Button size override
 *************************************************/

.btn {
    
    margin-top: .5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border-radius: $border-radius;
    &:focus {
        box-shadow: none !important;
    }
}

.btn-warning {
    background:orange;
    border-radius: .5rem;
    &:hover {
        background: $white;
        color: orange;
    }
}


.btn-primary {
    color: $white;
}

.btn-outline-primary {
    &:hover {
        color: $white;
    }
}

.btn-links .btn {
    padding: 10px .5rem 10px .5rem;

}

.btn.btn-lg {
    padding: 10px .4rem 10px .4rem;
    font-size: 1rem;
    border-radius: .5rem;
}


/*************************************************
 *  Toolbar Buttons
 **************************************************/

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem $sta-primary-light;
}


/*************************************************
 *  Tables
 **************************************************/


/* Based on Bootstrap's `table-responsive` style. */

table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.43;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

table>caption+thead>tr:first-child>th,
table>colgroup+thead>tr:first-child>th,
table>thead:first-child>tr:first-child>th,
table>caption+thead>tr:first-child>td,
table>colgroup+thead>tr:first-child>td,
table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

table>tbody+tbody {
    border-top: 2px solid #ddd;
}

table table {
    background-color: #fff;
}


/* Table Striped */

table>tbody>tr:nth-child(odd)>td,
table>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}


/* Table Hover */

table>tbody>tr:hover>td,
table>tbody>tr:hover>th {
    background-color: #e5e5e5;
}


/*************************************************
 *  Alerts
 **************************************************/


/* Style asides as Bootstrap alerts. */

.article-style aside {
    @extend .alert;
}


/* Asides use <p> block element whereas alerts use <div>. */

.article-style aside p,
div.alert>div {
    position: relative;
    display: block;
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

div.alert div>* {
    margin-bottom: .5rem;
    /* Use smaller paragraph spacing than usual. */
}

div.alert div> :last-child {
    margin-bottom: 0;
}

.article-style aside p::before,
div.alert>div:first-child::before {
    position: absolute;
    top: -0.5rem;
    left: -2rem;
    font-size: 1.5rem;
    width: 1.5rem;
    text-align: center;
}

.article-style aside p,
div.alert-quotes>div {
    position: relative;
    top: -1rem;
    margin-top: 1.5rem;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Kanit';
    font-style: italic;
    text-align: center;
    color: #2A4B7C;
    background-color: #f9f9f9;
    border-left: .45rem solid #2A4B7C;
    /* background: rgba(0, 51, 102, 0.075); */
}


/* homepage */

.hero-img {
    border: 10px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px 0px;
}


/* about */

.network-icon {
    a {
        height: 40px;
        width: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
        border-radius: 50%;
        background: transparent;
        transition: .3s ease;
        &:hover {
            background: rgb(235, 235, 235);
        }
    }
}

.progress-bar {
    position: absolute;
    height: 10%;
    background: $sta-primary;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.card .card-text {
    padding-left: 0 !important;
}

.section-heading h1 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-size: 25px;
   
}

.section-heading p {
    text-transform: uppercase;
    display: inline-block;
    font-size: 18px;
}

// {{< expand "Label" "icon" >}}
.markdown-inner {
    // Util class to remove extra margin in nested markdown content
    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}


/*************************************************
 *  Alerts
 **************************************************/


/* Style asides as Bootstrap alerts. */

.article-style aside {
    @extend .alert;
}


/* Asides use <p> block element whereas alerts use <div>. */

.article-style aside p,
div.alert>div {
    position: relative;
    display: block;
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

div.alert div>* {
    margin-bottom: .5rem;
    /* Use smaller paragraph spacing than usual. */
}

div.alert div> :last-child {
    margin-bottom: 0;
}

.article-style aside p::before,
div.alert>div:first-child::before {
    position: absolute;
    left: -2rem;
    width: 1.5rem;
    text-align: center;
    vertical-align: middle;
}

div.alert-danger>div:first-child::before {
    font-family: 'Font Awesome 5 Free';
    font-size: 120%;
    font-weight: 900;
    color: #cd0930;
    content: '\f071';
}

div.alert-info>div:first-child::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f05a';
    color: rgb(63, 105, 170);
}

.article-style aside a,
div.alert a {
    color: $sta-primary;
    text-decoration: none;
    font-weight: normal;
}

.article-style aside,
.alert-note {
    background-color: rgba(47, 101, 182, 0.05);
    border-color: rgb(63, 105, 170);
    padding: 0 auto;
    color: rgba(0, 0, 0, 0.8);
}

.alert-info {
    background-color: rgba(63, 105, 170, 0.05);
    border-color: rgb(63, 105, 170);
    color: currentColor;
    padding: 0 auto;
}

div.alert-note_toc {
    background-color: rgba(255, 153, 0, 0.15);
    border-color: rgb(255, 153, 0);
    padding: 0 auto;
    color: rgba(0, 0, 0, .8);
}

div.alert-note_toc>div>ul>li>a {
    &:hover {
        color: $sta-primary;
        font-weight: 700;
    }
}

.alert-success {
    background-color: rgba(0, 128, 0, 0.05);
    border-color: rgb(0, 128, 0);
    padding: 0 auto;
    color: rgba(0, 0, 0, 0.8);
}

.alert-note_success {
    background-color: rgba(0, 128, 0, 0.05);
    border-color: rgb(0, 128, 0);
    color: rgba(0, 0, 0, .8);
    padding: 0 auto;
}

.alert-note_warning {
    background-color: rgba(255, 153, 0, 0.15);
    border-color: rgb(255, 153, 0);
    color: rgba(0, 0, 0, 0.8);
    padding: 0 auto;
    font-weight: bold;
}

.alert-warning {
    background-color: rgba(255, 153, 0, 0.15);
    border-color: rgb(255, 153, 0);
    color: rgba(0, 0, 0, 0.8);
    padding: 0 auto;
    font-weight: bold;
}

.alert-danger {
    background-color: rgba(255, 56, 96, 0.15);
    border-color: rgb(255, 56, 96);
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    padding: 0 auto;
}

.alert-note_danger {
    background-color: rgba(255, 56, 96, 0.15);
    border-color: rgb(255, 56, 96);
    color: rgba(0, 0, 0, 0.8);
    padding: 0 auto;
    font-weight: bold;
}


/*  Collapsible - Shortcodes */


/*
$midnight: #2c3e50;
$clouds: #ecf0f1;
*/

.collapsible {

    background-color: white;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 400;
    padding: 18px;
    margin-top: 1em;
    /*margin-right:5em; */
    width: 90%;
    padding: 0 auto;
    text-align: left;
    transition: 0.4s;
    box-shadow: 7px 7px 4px grey;
    border: 2px solid #fc6f5c;
    font-family: $sta-font-heading, sans-serif;
    border-radius: 20px;
    text-rendering: optimizeLegibility;

    vertical-align: middle;
}

.collapsible-toc {

    border-radius: 20px;
    background-color: white;
    color: rgba(0, 0, 0, 0.85);
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 400;
    padding: 18px;
    margin-top: 1em;
}

.collapsible:hover {
    background-color: #fc6f5c;
    transition: 0.4s;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.85);
    box-shadow: 10px 10px 5px grey;
}

.faq-collapsible:active,
.collapsible:active {
    background-color: #fc6f5c;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.85);
    box-shadow: 10px 10px 5px grey;
}
.collapsible.active:focus {
    background-color: #fc6f5c;
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.85);
    box-shadow: 10px 10px 5px grey;
}
.collapsible:after {
    content: '\002B';
    color: #fc6f5c;
    font-weight: 600;
    float: right;
    margin-left: 3em;

}

.collapsible:hover:after {
    content: '\002B';
    color: white;
}

.collapsible.active:after {
    content: "\2212";
    color: white;


}

.content {
    padding: 0 auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* background-color: rgba(0, 128, 0, 0.1);  */

}

#txt_answer {
    color: #fc6f5c;
}


/*  End - Collapsible */

.justify-content-center p {
    text-align: left;
    padding: 0 auto;
    margin-right: 10em;
    top: 50%;
}


/*************************************************
 *  Tags
 **************************************************/

.tag {
    align-self: flex-start;
    padding: .25em .5em;
    border-radius: .5em;
    font-size: .75rem;
  }
  
  .tag+.tag {
    margin-left: .5em;
  }
  
  .tag-blue {
    background: #013141;
   
    color: #fafafa;
  }
  
  .tag-yellow {
    background: yellow;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #000;
  }
  
  .tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
  }
  
  .tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
  }
  
  .tag-green {
    background: green;
    
    color: #fafafa;
  }
  
  .tag-gray {
    background: gray;
    
    color: #fafafa;
  }

/*************************************************/
