@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.shortcut-example {
  box-shadow: 0 0 0 0.25rem steelblue;
  background-color: black;
  max-width: 50vw;
  padding: 1rem;
}
.shortcut-example::first-letter {
  padding-right: 0.25rem;
  color: steelblue;
  font-weight: bold;
  font-size: 3rem;
  float: left;
}