.series-links {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: -15px;
  margin-left: -15px;
  color:green;
}

@media (min-width:768px) {
  @supports ((position:-webkit-sticky) or (position:sticky)) {
    .series-links {
      max-height: calc(100vh - 5rem - 70px);
      overflow-y: auto;
    }
  }
}

@media (min-width:768px) {
  .series-links {
    display: block !important;
  }
}

/* Docs TOC. */

.series-toc {
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .series-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow-y: auto
  }
}

/* Docs TOC item links. */

.series-toc-link {
  display: block;
  padding: .25rem 1.5rem;
  font-weight: bold;
  color:yellowgreen;
}

.series-toc-link:hover {
  color: rgba(0, 0, 0, .85);
  text-decoration: none;
}


.series-toc-item.active {
  margin-bottom: 1rem;
}

.series-toc-item.active:not(:first-child) {
  margin-top: 1rem;
  color:blueviolet;
}

.series-toc-item.active>.series-toc-link {
  color: brown;
}

.series-toc-item.active>.series-toc-link:hover {
  background-color: blue;
}

#children_link a:hover {

  color:red;

}

.toc-contents {
  background-color: rgba(0, 128, 0, 0.08);
  border: 0.125rem solid rgb(0, 128, 0);
  border-radius: 15px;
  padding: 10px auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.toc-contents h2 {
  margin-left: 1em;
  color: #0f0f0f;
}

.toc-contents #TableOfContents li a {
  font-size: 1rem;
  color: #2A4B7C;

  text-decoration: none;


}

.toc-contents #TableOfContents li a:hover {
  color: $sta-primary;
  font-weight: bolder;
}


/*   Announce Button */

.announce-btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background-color: red;

  border: 1px solid;
  overflow: hidden;
  position: relative;


  }













