{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}


{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}

{{ $microdata_type = "Event" }}


<div class="=docs-article-container docs-faq">
   
   <button class="collapsible .faq-collapsible ">{{ $item.Title }}</button>

   <div class="content col-12 "><br>
      <h2>{{ $item.Title }}</h2>
      <h3 id="txt_answer">คำตอบ :</h3>
      <div class="article-style col-12" itemprop="articleBody">
         <p> {{ $item.Content }} </p>       
         
      </div>

   </div>
   </div>