{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $icon := "fa-file-alt" }}
{{ $show_authors := false }}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
  {{ $microdata_type = "BlogPosting" }}
  {{ $icon = "fa-calendar-alt" }}
{{ else if eq $item.Type "talk" }}
  {{ $microdata_type = "Event" }}
  {{ $icon = "fa-calendar-alt" }}
{{ else if eq $item.Type "publication" }}
  {{ $microdata_type = "ScholarlyArticle" }}
  {{ $show_authors = true }}
  {{ $show_buttons = true }}
{{ end }}

<div class="view-list-item" itemscope itemtype="http://schema.org/{{$microdata_type}}">
  <i class="far {{$icon}} pub-icon" aria-hidden="true"></i>
  <a href="{{ $item.RelPermalink }}" itemprop="url"><span itemprop="name">{{ $item.Title }}</span></a>


  {{ if eq $item.Type "post" }}
  <class class="article-metadata">
    <span itemprop="startDate">
      {{ $date := $item.Date }}
      {{ (time $date).Format site.Params.date_format }}    
        {{ with $item.Params.date_end }}       
      {{ end }}
    </span>  
  {{ end }}
</div>
