<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ with site.GetPage "privacy.md" }}
                <p class="powered-by">

                </p>
                {{ end }}
                <p>
                    {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} &middot; {{ end }} Powered by
                    <a href="https://e-customs.co.th/e-customs/ target=" _blank " rel="noopener ">Support Dept.</a>
                </p>
            </div>
      
        </div>
    </div>
</footer>